.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background-color);
}

.page-footer__container {
  display: flex;
  align-items: baseline;
}

.page-footer__left-side-wrapper {
  margin-right: 70px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
}

.contacts__link--light-color-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__link {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--alternative-second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__list-item:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer__enjoy-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.page-footer__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.page-footer__social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.page-footer__social-list-item:not(:last-child) {
  margin-right: 10px;
}

.page-footer__social-list-icon {
  fill: var(--third-text-color);
}

.page-footer__form-wrapper {
  margin-left: auto;
}

.page-footer__form-title {
  display: block;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.form__input {
  display: inline-block;
  min-width: 358px;
  min-height: 50px;
  padding: 15px 16px;
  margin-right: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--third-text-color);
  background-color: var(--dark-background-color);

  &::placeholder {
    font-family: inherit;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    background-color: inherit;
    color: rgba(255, 255, 255, 0.6);
  }

  &:focus {
    border: 2px solid var(--accent-color);
    outline: none;
  }
}

.form__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: var(--btn-box-shadow-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--alternative-accent-color);
    outline: none;
  }
}

.form__button-icon {
  margin-left: 10px;
  fill: currentColor;
}
