.page-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-light-theme-color);
  margin-right: 90px;
  padding-top: 24px;
  padding-bottom: 24px;

  animation-duration: 3000ms;
}

.page-logo__logo-text--accent-color {
  color: var(--accent-color);
}

.page-logo--footer {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 0;
}

.page-logo__logo-text--dark-theme {
  color: var(--third-text-color);
}
