:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --alternative-accent-color: #188ce8;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --alternative-second-text-color: rgba(255, 255, 255, 0.6);
  --third-text-color: #ffffff;
  --light-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --btn-box-shadow-color: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --logo-light-theme-color: #000;
  --social-icons-color-light-theme: #afb1b8;
  --project-list__overlay-background-color: rgba(33, 150, 243, 0.9);
}
